<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <title>Söl Portfolio</title>
  @vite(['resources/css/app.css', 'resources/js/app.js', `resources/css/${css}`])
</head>

<body>
  <aside>
    <div class="logo-box"><a href="/home">LOGO</a></div>
    <nav>
      <ul>
        <li class="has-submenu">
          <div class="menu-item">Portfolio <span>▶</span></div>
          <ul class="submenu">
            <li><a href="/portfolio?type=original">Original</a></li>
            <li><a href="/portfolio?type=fanart">Fanart</a></li>
            <li><a href="/portfolio?type=commandes">Commandes</a></li>
            <li><a href="/portfolio?type=croquis">Croquis</a></li>
          </ul>
        </li>

        <li class="has-submenu">
          <div class="menu-item">Commandes <span>▶</span></div>
          <ul class="submenu">
            <li><a href="/kanban">Kanban & slots</a></li>
            <li><a href="#">Commander</a></li>
          </ul>
        </li>

        <li>À propos</li>
      </ul>
    </nav>
    <div class="socials">
      <a href="#" class="social-icon-link instagram"><i class="fa-brands fa-instagram"></i></a>

      <a href="#" class="social-icon-link bluesky"><i class="fa-brands fa-bluesky"></i></a>

      <a href="#" class="social-icon-link tiktok"><i class="fa-brands fa-tiktok"></i></a>

      <a href="#" class="social-icon-link linktree"><i class="fa-solid fa-link"></i></a>
    </div>

    <script>
      lucide.createIcons();
    </script>
  </aside>

  <main>
    {{{ await $slots.main() }}}
  </main>
</body>

</html>