 @import url(./variables.css);

/* Main / Carrousel */

main {

  flex-grow: 1;

  background-color: var(--bg-carousel);

  position: relative;

}


.carousel-wrapper {

  width: 100%;

  height: 100%;

}


.slide {

  position: absolute;

  inset: 0;

  opacity: 0;

  transition: opacity 0.8s ease-in-out; /* Anti-clignotement */

  display: flex;

  align-items: center;

  justify-content: center;

  color: white;

}


.slide.active {

  opacity: 1;

  z-index: 5;

}


/* Flèches de la maquette */

.nav-arrow {

  position: absolute;

  top: 50%;

  transform: translateY(-50%);

  font-size: 3rem;

  color: rgba(255, 255, 255, 0.2);

  cursor: pointer;

  z-index: 10;

  user-select: none;

}


.arrow-prev { left: 30px; }

.arrow-next { right: 30px; }


/* Bouton Patreon en bas */

.patreon-link {

  position: absolute;

  bottom: 40px;

  left: 50%;

  transform: translateX(-50%);

  background-color: #94A3B8;

  color: black;

  padding: 12px 40px;

  border-radius: 50px;

  text-decoration: none;

  font-weight: bold;

  z-index: 10;

}
